@import "../../../node_modules/foundation-sites/scss/foundation";
@import "settings";
@import "icons";
@include foundation-everything;


@import "components/device";
@import "components/header";


.off-canvas-content {
  min-height: 100vh;
}

.poster-icon {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 1rem;
  margin-top: .5rem;
}
