<div class="row">
    <div *ngFor="#episode of episodes" class="small-12 columns device">

        <div class="episodes row calendar-show">
            <div class="episode season-{{episode.season}} episode-{{episode.episode}}">
                <div class="small-8 columns episode-info">
                    <div class="episode-title"><span class="episodenum">{{ formatEpisodeNumer( episode.seasonNumber, episode.episodeNumber ) }} </span>&nbsp;<span class="episodename">{{episode.title}}</span></div>
                    <div class="episode-info ">
                        <span class="label success" *ngIf="episode.hasFile">downloaded</span>
                        <span class="label secondary" *ngIf="!episode.hasFile">missing</span>
                        <span class="date">Airs: {{getDate(episode.airDateUtc) | date:'MMMdHm' }}</span>
                    </div>
                </div>
                <div class="small-2 columns watched-indicator fi-bookmark">
                </div>
            </div>
        </div>
    </div>
</div>